02-nodered/PiedraPapelTieraWeb.json
[
    {
        "id": "6a747a344c494973",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6cc8ec6139a1f071",
        "type": "inject",
        "z": "6a747a344c494973",
        "name": "Piedra",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "player",
                "v": "0",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "126891fdbedde771"
            ]
        ]
    },
    {
        "id": "1a845c50b9189fe1",
        "type": "inject",
        "z": "6a747a344c494973",
        "name": "Papel",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "player",
                "v": "1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "126891fdbedde771"
            ]
        ]
    },
    {
        "id": "e126f9c59c9f2856",
        "type": "inject",
        "z": "6a747a344c494973",
        "name": "Tijera",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "player",
                "v": "2",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "126891fdbedde771"
            ]
        ]
    },
    {
        "id": "259770b0f1e99441",
        "type": "debug",
        "z": "6a747a344c494973",
        "name": "Solucion",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "winner",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 340,
        "wires": []
    },
    {
        "id": "126891fdbedde771",
        "type": "function",
        "z": "6a747a344c494973",
        "name": "machine",
        "func": "msg.machine = Math.floor(Math.random()*3)\n\nmsg.player = \n{\n    Piedra: 0,\n    Papel: 1,\n    Tijera: 2,\n}[msg.req.url.slice(1)];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 260,
        "wires": [
            [
                "171b6f43a8c63ab0"
            ]
        ]
    },
    {
        "id": "171b6f43a8c63ab0",
        "type": "switch",
        "z": "6a747a344c494973",
        "name": "Commutador",
        "property": "player",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "machine",
                "vt": "msg"
            },
            {
                "t": "neq",
                "v": "machine",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 260,
        "wires": [
            [
                "88d8f87cc70d37a1"
            ],
            [
                "e7379a96b6ace677"
            ]
        ]
    },
    {
        "id": "e7379a96b6ace677",
        "type": "function",
        "z": "6a747a344c494973",
        "name": "jugar",
        "func": "msg.winner = 'player'\nif\n(\n    msg.player == 0 && msg.machine == 1 ||\n    msg.player == 1 && msg.machine == 2 ||\n    msg.player == 2 && msg.machine == 0\n)\n{\n    msg.winner = 'machine'\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 340,
        "wires": [
            [
                "259770b0f1e99441",
                "1c92735c524e2758"
            ]
        ]
    },
    {
        "id": "88d8f87cc70d37a1",
        "type": "function",
        "z": "6a747a344c494973",
        "name": "empate",
        "func": "msg.winner = 'empate'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 160,
        "wires": [
            [
                "259770b0f1e99441",
                "1c92735c524e2758"
            ]
        ]
    },
    {
        "id": "1c92735c524e2758",
        "type": "change",
        "z": "6a747a344c494973",
        "name": "Ganador",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "winner",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 160,
        "wires": [
            [
                "e54ea961212eadf5"
            ]
        ]
    },
    {
        "id": "741b0b86fcdbea61",
        "type": "http in",
        "z": "6a747a344c494973",
        "name": "Piedra",
        "url": "Piedra",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "126891fdbedde771"
            ]
        ]
    },
    {
        "id": "2149f57c8c47278b",
        "type": "http in",
        "z": "6a747a344c494973",
        "name": "Papel",
        "url": "Papel",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "126891fdbedde771"
            ]
        ]
    },
    {
        "id": "9dd9cd1a079aeefb",
        "type": "http in",
        "z": "6a747a344c494973",
        "name": "Tijera",
        "url": "Tijera",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "126891fdbedde771"
            ]
        ]
    },
    {
        "id": "e54ea961212eadf5",
        "type": "http response",
        "z": "6a747a344c494973",
        "name": "Fin",
        "statusCode": "",
        "headers": {},
        "x": 1210,
        "y": 160,
        "wires": []
    }
]